body {
  background-color: #ccc;
}

.text {
  color: red;
  border: 2px dotted darkslategray; /* shorthand */
  /* border-width: 2px ;
  border-style: dooted;
  border-color: darkblue; */
  /* padding: 50px; */
  text-align: center;
  margin: 15px auto;
  outline: 2px solid;
  width: 80%;
}

.title {
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
  letter-spacing: 18px;
  width: 80%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
  /* text-shadow: 2px 5px rgba(255, 0, 0, 0.4); */
  background-color: black;
  /* display: none; */
  /* visibility: hidden; */
}

.techno {
  text-align: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: orange;
  text-transform: uppercase;
  font-weight: 700;
  border: 3px solid darkslategray;
  border-radius: 20px;
}

/* with flex */
.parent {
  width: 80%;
  height: 300px;
  margin: auto;
  padding: 5px;
  border: 3px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* position: relative; */
}
.top {
  display: flex;
  justify-content: space-between;
}

.child1,
.child2,
.child3,
.child4 {
  width: 30px;
  height: 30px;
  border: 3px solid darkslategray;
  text-align: center;
  line-height: 30px;
  /* display: inline-block; */
}

/* with position */

/* 
.child1 {
  position: absolute;
  top: 0;
  left: 0;
}

.child2 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.child3 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.child4 {
  position: absolute;
  top: 0;
  right: 0;
} */
