:root {
  font-size: 20px;
}

ol li {
  width: 150px;
  padding: 5px;
  border: 2px solid;
  list-style: disc inside url();
  /* list-style-type: disc;
  list-style-position: outside;
  list-style-image: url(); */
}

ul li {
  width: 150px;
  padding: 5px;
  border: 2px solid;
  list-style: decimal inside;
}

.parent {
  width: 500px;
  height: 500px;
  border: 2px solid;
  margin: auto;
  position: relative;
}

.layer-1,
.layer-2,
.layer-3 {
  width: 200px;
  height: 200px;
  border: 2px solid;
  background-color: red;
  display: inline-block;
  position: absolute;
}

.layer-1 {
  top: 25px;
  left: 25px;
  z-index: 1;
  /* red  */
}
.layer-2 {
  background-color: blue;
  z-index: 2;
  top: 0;
  left: 0;
}

.layer-3 {
  background-color: blueviolet;
  top: 15px;
  left: 15px;
  z-index: 3;
}

.pragraph {
  width: 200px;
  height: 100px;
  padding: 10px;
  border: 2px solid red;
  font-size: 2rem;
}

.circle {
  width: 100px;
  height: 50px;
  padding: inherit;
  border: inherit;
}
/* .title{
  color: red;
  font-size: 35px;
  } */
/* .parent .title{
    color: blue;
    font-size: 32px;
   } */

/* .parent .child .title {
  color: red;
  font-size: 35px;
} */

span.title {
  color: red;
  font-size: 35px;
}

.parent p {
  color: blueviolet;
  font-size: 35px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
