.text {
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px red, 4px 4px blue, 6px 6px blueviolet;
}

.link {
  width: fit-content;
  text-decoration: none;
  border-bottom: 5px solid #004d40;
  background-color: #009688;
  color: white;
  text-transform: capitalize;
  padding: 10px;
  display: block;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.parent {
  width: 500px;
  height: 300px;
  border: 3px solid;
  position: relative;
  margin: 150px auto;
}
/* .parent2 {
  width: 700px;
  height: 500px;
  position: relative;
  border: 3px solid;
  position: relative;
  margin: 150px auto;
} */

.child {
  width: 50px;
  height: 30px;
  /* border: 3px solid; */
  background-color: blue;
  border-right: 4px solid red;
  position: absolute;
}

.child-1 {
  top: -15px;
  left: -25px;
}

.child-2 {
  top: -16px;
  right: -29px;
}

.child-3 {
  bottom: 0;
  left: 0;
}

.child-4 {
  bottom: 0;
  right: 0;
}

.p {
  font-size: 25px;
  padding: 20px;
}

.layer-1,
.layer-2,
.layer-3,
.layer-4 {
  width: 100px;
  height: 100px;
  border: 2px solid;
  position: absolute;
}

.layer-1 {
  background-color: red;
  z-index: 1;
}
.layer-2 {
  background-color: blue;
  z-index: 2;
  top: 15px;
  left: 15px;
}

.layer-3 {
  background-color: yellow;
  z-index: 3;
}

.layer-4 {
  background-color: green;
  z-index: 4;
}
