.drawing-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  background: #010825;
}

.drawing-margin {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 950px;
  height: 660px;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 50% 50% 0% 0%;
  transform: translate(-50%, -50%);
}

.moon {
  position: absolute;
  left: 50%;
  bottom: 10%;
  z-index: 3;
  width: 350px;
  height: 350px;
  background: white;
  border-radius: 50%;
  box-shadow:
    0px 0px 1px 31px rgba(225, 255, 253, 0.2),
    0px 0px 1px 65px rgba(217, 255, 253, 0.14),
    0px 0px 3px 100px rgba(217, 255, 253, 0.06);
  transform: translateX(-50%);
}

.mountain {
  position: absolute;
  left: 50%;
  bottom: -340px;
  z-index: 5;
  width: 130%;
  height: 430px;
  border-radius: 50%;
  background: #010825;
  transform: translateX(-50%);
}

.cat {
  position: absolute;
  bottom: -20px;
  left: 50%;
  z-index: 4;
  width: 370px;
  height: 295px;
  transform: translateX(-50%) scale(0.3);
}

.cat_head {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 128px;
  height: 140px;
  background: black;
  border-radius: 50%;
  box-shadow: -6px 2px #000;
  transform: translateX(-50%);
}

.cat__head-part {
  position: absolute;
  background: #000;
  border-radius: 50%;
}

.cat__head-part.ear1 {
  top: -38px;
  left: 9px;
  width: 38px;
  height: 90px;
  transform: rotate(-52deg);
}

.cat__head-part.ear2 {
  top: -38px;
  left: 79px;
  width: 38px;
  height: 90px;
  transform: rotate(52deg);
}

.cat_body {
  position: absolute;
  left: 60px;
  bottom: -8px;
  width: 240px;
  height: 180px;
  background: #000;
  border-radius: 45%;
}

.clouds-holder {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  width: 100%;
  height: 70%;
}

.cloud {
  position: absolute;
  left: 50%;
  width: 80%;
  height: 280px;
  border-radius: 35%;
  transform: translateX(-50%);
}

.cloud.cloud--1 {
  bottom: 5px;
  z-index: 3;
  background: #123c5f;
}

.cloud.cloud--1::before,
.cloud.cloud--1::after {
  content: "";
  position: absolute;
  top: 18%;
  left: -5%;
  z-index: 1;
  width: 100px;
  height: 180px;
  border-radius: 50%;
  background: #123c5f;
  transform: rotate(-15deg);
}

.cloud.cloud--1::after {
  left: auto;
  right: -5%;
  transform: rotate(15deg);
}

.cloud.cloud--2 {
  bottom: 20px;
  z-index: 2;
  width: 68%;
  background: #062348;
}

.cloud__edge {
  position: absolute;
  border-radius: 50%;
}

.cloud__edge.edge--1,
.cloud__edge.edge--2 {
  top: 0px;
  left: -5px;
  width: 70px;
  height: 70px;
  background: #123c5f;
  transform: rotate(-15deg);
}

.cloud__edge.edge--2 {
  top: -20px;
  left: 54px;
  width: 70px;
}

.cloud__edge.edge--3 {
  top: -30px;
  left: 117px;
  width: 100px;
  height: 90px;
  background: #123c5f;
}

.cloud__edge.edge--4,
.cloud__edge.edge--5,
.cloud__edge.edge--6 {
  top: -30px;
  right: 115px;
  width: 100px;
  height: 100px;
  background: #123c5f;
}

.cloud__edge.edge--5 {
  top: -20px;
  right: 30px;
}

.cloud__edge.edge--6 {
  top: 10px;
  right: -30px;
}

.clouds__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  box-shadow: inset 5px -15px 100px 70px #010825;
}
