.container {
  width: 350px;
  padding: 50px;
  margin: 50px auto;
  border: 2px solid;
}

.face {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid;
  margin: auto;
  background-color: blue;
}

.body-human {
  position: relative;
  background-color: blue;
  width: 140px;
  height: 150px;
  border: 2px solid;
  margin: auto;
  border-radius: 12px;
}

.left-foot {
  width: 50px;
  display: inline-block;
  border-radius: 12px;
  height: 200px;
  border: 2px solid;
  background-color: blue;
  margin-left: 100px;
}
.right-foot {
  display: inline-block;
  border-radius: 12px;
  width: 50px;
  height: 200px;
  border: 2px solid;
  background-color: blue;
  margin-left: 38px;
}

.left-hand {
  position: absolute;
  width: 50px;
  height: 130px;
  border: 2px solid;
  border-radius: 12px;
  background-color: red;
  z-index: -1;
  translate: -46px -6px;
  rotate: 45deg;
}
.right-hand {
  position: absolute;
  width: 50px;
  height: 130px;
  border: 2px solid;
  border-radius: 12px;
  background-color: red;
  z-index: -1;
  /* translate: -46px -6px; */
  right: -50px;
  rotate: -45deg;
}
