:root {
  font-family: Arial, Helvetica, sans-serif;
}

/* desktop First  */
h1,
h2 {
  text-align: center;

  text-transform: capitalize;
  color: red;
  font-size: 40px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: darkblue;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 30px;
}

li {
  list-style: none;
  text-transform: capitalize;
  font-size: 20px;
  cursor: pointer;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  gap: 20px;
}

.card {
  width: 300px;
  padding: 20px;
  box-shadow: 2px 2px 10px grey;
  border-radius: 10%;
}
.card p {
  font-size: 18px;
  line-height: 1.6;
  color: blue;
}

/* tablet */
@media (max-width: 768px) {
  h1 {
    color: blue;
    font-size: 36px;
  }
  .container {
    padding: 0 15px;
  }
  nav ul {
    flex-wrap: wrap;
  }
}

/* mobile */
@media (max-width: 375px) {
  h1 {
    color: green;
    font-size: 20px;
  }

  .container {
    padding: 0 5px;
  }

  .card {
    border-radius: 10px;
  }

  header {
    flex-direction: column;
  }

  nav ul {
    padding: 15px;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    border-radius: 20px;
    flex-direction: column;
    gap: 10px;
  }
  ul li {
    border-bottom: 3px solid gray;
    border-radius: 10px;
  }
  ul li:hover {
    border-bottom: 4px solid gray;
    border-radius: 10px;
  }
}
