body {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.skew {
  width: 200px;
  height: 100px;
  background-color: orangered;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  font-size: 30px;
  color: #fff;
  position: relative;
}

.skew::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: orangered;
  z-index: -1;
  transform: skew(10deg, 10deg);
}
.skew::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: orangered;
  z-index: -1;
  transform: skew(-10deg, -10deg);
}

.parent {
  width: 200px;
  height: 100px;
  background-color: #7fffa3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  position: relative;
}

.parent::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #7fffa3;
  z-index: -1;
  transform: skew(20deg);
  left: -18px;
}

.parent::after {
  content: "";
  position: absolute;
  width: 15%;
  height: 100%;
  background-color: #7fffa3;
  left: -70px;
  transform: skew(20deg);
}

@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 10px solid black;
  border-left: 10px solid white;
  border-radius: 50%;
  animation: spin 1s linear 0.1s infinite;
}

.spinner:hover {
  animation-play-state: paused;
}

.spinner2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  border: 10px solid red;
  border-right: 10px solid white;
  border-radius: 50%;
}

.spinner3 {
  width: 70px;
  height: 70px;
  border: 10px solid blue;
  border-top: 10px solid white;
  border-radius: 50%;
}

.letter-L {
  width: 400px;
  height: 400px;
}

.top {
  width: 50px;
  height: 100%;
  background-color: black;
}

.right {
  width: 65%;
  height: 50px;
  background-color: black;
  position: relative;
}

.right::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  background-color: orangered;
  right: 0;
  transform: translate(-50%, -50%);
  animation: move 3s linear 0.2s infinite forwards;
}

@keyframes move {
  0% {
    translate: 0 0;
  }

  50% {
    opacity: 1;
    translate: -195px 0;
  }
  100% {
    opacity: 0.5;
    translate: -195px -400px;
  }
}
