:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
  font-family: "Work Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 80px;
}

header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

nav {
  position: relative;
}

nav ul {
  list-style: none;
  flex-direction: column;
  gap: 15px;
  background-color: #ddd;
  padding: 5px;
  min-width: 110px;
  position: absolute;
  display: none;
  border-radius: 15px;
  right: 0;
}

nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li {
  transition: all 0.5s;
}

nav ul li:hover {
  transform: translate(20px, 0);
}
header nav ul li:not(:last-child) a {
  border-bottom: 2px solid gray;
}

.icon {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.icon span {
  width: 25px;
  height: 1px;
  background-color: black;
  transition: all 0.5s;
}

.icon span:nth-child(2) {
  width: 60%;
  align-self: end;
}

.icon:hover span:nth-child(2) {
  width: 100%;
}

nav:hover ul {
  display: flex;
}

.hero {
  background: url(../images/landing.jpg) center no-repeat;
  background-size: cover;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.hero h1 {
  font-size: 35px;
  color: var(--main-color);
}

.hero p {
  width: 60%;
  text-align: center;
  font-weight: lighter;
  word-spacing: 12px;
  font-size: 18px;
}

/* about */

.heading-section {
  text-align: center;
  position: relative;
}

.heading-section h1 {
  font-size: 4.5rem;
  font-weight: bold;
  color: #eee;
}
.heading-section p {
  font-size: 1rem;
  font-weight: lighter;
  color: gray;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* text-transform: capitalize; */
}

.about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  width: 80%;
}

.img {
  position: relative;
  width: 50%;
}

.img::after {
  position: absolute;
  width: 80px;
  height: 380px;
  background-color: var(--main-color);
  right: -21px;
  top: -37px;
  z-index: -1;
}
.about .container .about-photo {
  width: 200px;
  z-index: 1;
  /* position: relative; */
}
.letter {
  position: absolute;
  width: 80px;
  height: 380px;
  background-color: #eee;
  left: -21px;
  top: -37px;
  z-index: -1;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: start;
  align-items: flex-start;
  width: 600px;
}

.about-text .text-1 {
  font-weight: bold;
  line-height: 2;
  position: relative;
}
.about-text .text-1::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 1.5px;
  background-color: #10cab7;
  left: 0;
  bottom: -25px;
}

.about-text .text-2 {
  font-weight: lighter;
  color: gray;
  line-height: 2;
}
