:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
  font-family: "Work Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo img {
  width: 80px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

li {
  list-style: none;
}

nav ul {
  display: flex;
  gap: 20px;
}

.hero {
  background: url(../images/landing.jpg) no-repeat;
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero h1 {
  color: var(--main-color);
}

.hero p {
  width: 290px;
  line-height: 1.8;
  word-spacing: 10px;
  text-align: center;
}

.feat,
.portfolio {
  background-color: var(--section-background);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.feat-card {
  width: 350px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.feat-card h1 {
  font-size: 24px;
  font-weight: bolder;
}

.feat-card p {
  color: gray;
  line-height: 1.8;
}

.icon {
  color: var(--main-color);
}

.port-card {
  width: 350px;
  background-color: white;
}

.port-card img {
  width: 100%;
}

.port-card h3,
.port-card p {
  padding: 15px 20px;
}

.port-card p {
  color: gray;
  line-height: 1.5;
}

.header {
  text-align: center;
  padding: 60px 0;
  background-color: var(--section-background);
}

.header h1 {
  font-size: 50px;
  font-weight: 900;
  color: gainsboro;
  margin: 0;
}
.header p {
  margin-top: -15px;
  font-size: 14px;
  color: gray;
}
