body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

div {
  width: 300px;
  height: 300px;
  /* border: 3px solid; */
  background-color: #eaeaea;
  border-top-right-radius: 60%;
  border-top-left-radius: 6%;
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 6%;
  box-shadow: 0 0 20px inset blue;
}
