.text {
  position: relative;
  width: 100px;
  padding: 20px;
  background-color: orangered;
  color: white;
  text-align: center;
  margin: 50px auto;
}

.text::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: orangered;
  z-index: -1;
  top: 0;
  left: 0;
  transform: skew(10deg, 10deg);
}

.text::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: orangered;
  z-index: -1;
  top: 0;
  left: 0;
  transform: skew(-10deg, -10deg);
}

.text-skew {
  background-color: #009688;
  width: fit-content;
  padding: 20px;
  color: white;
  margin: 50px auto;
  position: relative;
}

.text-skew::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #009688;
  z-index: -1;
  top: 0;
  left: -15px;
  transform: skew(20deg);
}

.text-skew::after {
  content: "";
  position: absolute;
  width: 15%;
  height: 100%;
  background-color: #009688;
  z-index: -1;
  top: 0;
  left: -45px;
  transform: skew(20deg);
}

.parent {
  width: 200px;
  height: 200px;
  background-color: gray;
  border-bottom: 5px solid black;
  margin: 150px auto;
  align-content: end;
  color: white;
  padding: 8px;
  position: relative;
}
.parent::before {
  content: "";
  position: absolute;
  width: 69%;
  height: 69%;
  background-color: black;
  top: -75px;
  left: 30px;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  transform: rotate(45deg);
}
