/* CSS TASK 1 */

/* .parent {
  width: 600px;
  height: 400px;
  background-color: #eee;
  border: 2px solid #333;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.parent div {
  background-color: orangered;
  color: white;
  padding: 15px;
  font-size: 20px;
  text-align: center;
  height: fit-content;
  width: calc(80% / 3);
} */

/* CSS TASK 2 */
/* 
.parent {
  width: 600px;
  height: 300px;
  margin: 10px auto;
  padding: 10px;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.parent div {
  width: calc(95% / 3);
  background-color: #607d8b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.one {
  order: 6;
  height: 40px;
  align-self: flex-end;
}

.two {
  order: 5;
}
.three {
  order: 2;
  height: 40px;
}

.four {
  order: 3;
}

.five {
  order: 4;
} */

/* CSS TASK 3 */
.parent {
  width: 600px;
  height: 300px;
  margin: 10px auto;
  padding: 10px;
  background-color: #eee;
  display: flex;
  gap: 50px;
}

.parent div {
  width: calc(95% / 4);
  height: 50%;
  /* background-color: #607d8b; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one {
  background-color: orange;
  order: 2;
}

.two {
  background-color: greenyellow;
  order: 3;
  align-self: end;
}

.three {
  background-color: brown;
  order: 4;
}

.four {
  background-color: blueviolet;
  order: 1;
  align-self: end;
}
