@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-primary-hover: #4f46e5;
  --color-accent: #06b6d4;
  --color-background: #0b0f1a;
  --color-form-bg: #111827;
  --color-input-bg: #1e293b;
  --color-text-main: #f1f5f9;
  --color-text-secondary: #94a3b8;
  --color-success: #22c55e;
}
