:root {
  --background-color: #ccc;
  --padding: 20px;
  --margin: 6px;
}
.page {
  padding-inline: var(--padding);
}
.header {
  display: flex;
  align-items: center;
}

.header .nav {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  justify-content: space-between;
  padding: 0 10px;
  margin: var(--margin);
  flex-grow: 1;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
ul li {
  list-style: none;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: space-between;
}

.main .content {
  background-color: var(--background-color);
  padding: var(--padding);
  margin: var(--margin);
  height: 65vh;
}

.content {
  flex-grow: 1;
}

.footer {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  margin: var(--margin);
}

.heading {
  color: cadetblue;
}
