/* Laptop */

:root {
  font-family: Arial, Helvetica, sans-serif;
  --main-color: #564c30;
  --second-color: #d2ae2e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background: no-repeat linear-gradient(to bottom, #3b3523, #564c30);
  padding: 35px 100px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}

li:hover {
  color: var(--main-color);
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: var(--second-color);
}

.imgs {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.imgs img {
  position: absolute;
}

.layer-1 {
  width: 600px;
}

.layer-2 {
  width: 300px;
  margin-right: 150px;
}

.layer-3 {
  width: 700px;
}

.section-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85vh;
}

.section-one .inner {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 50px;
  width: 500px;
}

.inner h1 {
  color: #d2ae2e;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
}

.inner h1 span {
  font-size: 5rem;
  font-weight: 700;
}

.inner p {
  color: #b1a426;
}

.inner button {
  background: linear-gradient(to bottom, var(--second-color), #2f2b2b 70%)
    no-repeat;
  color: #b1a426;
  border: none;
  padding: 20px;
  width: 50%;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
}

@media (max-width: 1000px) {
  /* tablet */

  .imgs {
    display: none;
  }

  .section-one {
    justify-content: center;
  }
  .inner {
    align-items: center;
  }
  .container {
    padding: 30px 50px;
  }

  header {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media (max-width: 375px) {
  /* mobile */
  .container {
    padding: 15px 20px;
  }
}
