.container {
  width: 500px;
  border: 2px solid;
  margin: 150px auto;
  padding: 40px;
}

.face {
  width: 100px;
  height: 100px;
  border: 2px solid;
  border-radius: 50%;
  background-color: blue;
  margin: auto;
}

.human-body {
  width: 150px;
  height: 150px;
  border: 2px solid;
  background-color: blue;
  border-radius: 12px;
  margin: auto;
  position: relative;
}

.left-feet {
  width: 50px;
  height: 200px;
  border: 2px solid;
  border-radius: 12px;
  background-color: blue;
  display: inline-block;
  margin-left: 172px;
}
.right-feet {
  width: 50px;
  height: 200px;
  border: 2px solid;
  border-radius: 12px;
  background-color: blue;
  display: inline-block;
  margin-left: 42px;
}

.right-hand {
  position: absolute;
  width: 50px;
  height: 120px;
  border: 2px solid;
  border-radius: 12px;
  background-color: red;
  rotate: 45deg;
  z-index: -1;
  left: -47px;
}

.left-hand {
  position: absolute;
  width: 50px;
  height: 120px;
  border: 2px solid;
  border-radius: 12px;
  background-color: red;
  rotate: -45deg;
  z-index: -1;
  right: -47px;
}
