/* .gradient-box {
  position: relative;
  width: 300px;
  padding: 20px 5px;
  margin: auto;
  text-align: center;
  font-size: 30px;
  letter-spacing: 8px;
  font-weight: bold;
  background-color: #eee;
  border-left: 5px solid orangered;
  border-right: 5px solid blueviolet;
}

.gradient-box::first-letter {
  color: orangered;
}

.gradient-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(
    to right,
    orangered 20%,
    #2196f3 20%,
    #2196f3 40%,
    #4caf50 40%,
    #4caf50 60%,
    #e91e63 60%,
    #e91e63 80%,
    blueviolet 80%
  );
  width: 100%;
  height: 5px;
}
.gradient-box::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    orangered 20%,
    #2196f3 20%,
    #2196f3 40%,
    #4caf50 40%,
    #4caf50 60%,
    #e91e63 60%,
    #e91e63 80%,
    blueviolet 80%
  );
  width: 100%;
  height: 5px;
} */

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* .shape {
  width: 200px;
  height: 150px;
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 191, 255);
  background-color: #eee;
  position: absolute;
  z-index: 1;
}
.shape-x,
.shape-y {
  width: 200px;
  height: 150px;
  padding: 20px;
  margin: auto;
  position: absolute;
}

.shape-x {
  background-color: rgb(0, 191, 255);
  rotate: -8deg;
}

.shape-y {
  background-color: rgb(255, 0, 149);
  rotate: 8deg;
}
 */

.circle {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.circle::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 12px solid rgb(16, 133, 223);
  border-right: 12px solid white;
  transition: 1.5s ease-in-out 0.8s;
  z-index: -1;
}
.circle::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 6px solid rgb(223, 57, 16);
  border-left: 6px solid white;
  transition: 1s ease-in-out;
  z-index: -1;
}

.circle:hover::before {
  rotate: -180deg;
}
.circle:hover::after {
  rotate: 180deg;
}
