/* .gradient-box {
  position: relative;
  width: 300px;
  padding: 20px 5px;
  margin: auto;
  text-align: center;
  font-size: 30px;
  letter-spacing: 8px;
  font-weight: bold;
  background-color: #eee;
  border-left: 5px solid orangered;
  border-right: 5px solid blueviolet;
}

.gradient-box::first-letter {
  color: orangered;
}

.gradient-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(
    to right,
    orangered 20%,
    #2196f3 20%,
    #2196f3 40%,
    #4caf50 40%,
    #4caf50 60%,
    #e91e63 60%,
    #e91e63 80%,
    blueviolet 80%
  );
  width: 100%;
  height: 5px;
}
.gradient-box::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    orangered 20%,
    #2196f3 20%,
    #2196f3 40%,
    #4caf50 40%,
    #4caf50 60%,
    #e91e63 60%,
    #e91e63 80%,
    blueviolet 80%
  );
  width: 100%;
  height: 5px;
} */
