/* p {
  width: 70%;
  margin: auto;
  font-size: 20px;
  line-height: 1.6;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  width: 20px;
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, blue, red);
  border-radius: 15px;
  border: 5px solid #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to top, blue, red);
} 

 */

.link {
  width: fit-content;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  background-color: #fff;
  margin: 200px auto;
  text-align: center;
  font-size: 24px;
  color: red;
  border: 2px solid #000;
  position: relative;
  overflow: hidden;
  transform: translateX(0);
}

.link::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  /* top: 0; */
  width: 100%;
  color: black;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.link span {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.link:hover::before {
  transform: translateX(0);
}

.link:hover span {
  transform: translateX(120%);
}
